.careers {
  position: relative;
  background: var(--section-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

.gradient_drop {
  position: absolute;
  top: -43px;
  left: 0;
  height: 200px;
  width: 100%;
  z-index: 0;
  background: linear-gradient(#060810 60%, transparent);
  filter: blur(10px);
}

.careers_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  z-index: 1;
  align-self: flex-end;
}

.careers_subtext {
  font-size: var(--medium);
  text-align: center;
}

.fifa_ball {
  position: absolute;
  right: 2vw;
  bottom: 0;
  width: 18vw;
  pointer-events: all;
}

.fifa_ball img,
.neymar img {
  width: 100%;
  height: auto;
}

.neymar {
  position: absolute;
  top: 15vh;
  width: 45vw;
  height: auto;
  z-index: 0;
}


@media screen and (max-width: 1024px) {
  .gradient_drop {
    height: 100px;
    top: -30px;
  }
}

@media screen and (max-width: 700px) {
  .careers_content {
    align-self: center;
  }
  .careers_subtext {
    font-size: var(--small);
  }
  .fifa_ball,
  .neymar {
    display: none;
  }
}