.navigation_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--divider-height);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--content-padding);
  background: linear-gradient(#0C0D13, #0C0D13);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.navbar_logo {
  width: 200px;
  height: auto;
}

@media screen and (max-width: 1920px) {
  .navbar_logo {
    width: 163px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar_logo {
    width: 104px;
  }
}