.home {
  margin-top: var(--divider-height);
  height: calc(100svh - var(--divider-height));
  width: 100%;
}

.hero_content_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.video_bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}