.animated_header {
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.header_title_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.alt_header {
  color: white;
  font-weight: 200;
}

.icon {
  height: var(--x-large);
  width: var(--x-large);
}

.header_underline {
  height: 2px;
  background-color: var(--color-secondary);
  width: 100%;
}