.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--content-padding);
  height: var(--divider-height);
  background: linear-gradient(#0C0D13, #0C0D13);
}

.icons_wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.footer_img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}

.footer_img:hover {
  background-color: var(--color-secondary);
}

.footer_svg:hover .svg_path {
  fill: var(--color-secondary);
}

@media screen and (max-width: 1920px) {
  .icons_wrapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .icons_wrapper {
    gap: 0.75rem;
  }
  .instagram_logo {
    width: 20px;
    height: 20px;
    padding: 0.75rem;
  }
}