.game_card {
  display: flex;
  cursor: pointer;
  padding: 1rem 2rem;
  gap: 2rem;
  width: 100%;
  border-radius: 1rem 1rem;
}

.game_card_image_wrapper {
  height: max-content;
  width: max-content;
  border-bottom: 1px solid var(--color-secondary);
}

.game_card_content {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.header_description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: 1px;
  > h2 {
    letter-spacing: 2px;
  }
}

.short_description {
  font-size: var(--small);
}

@media screen and (max-width: 1024px) {
  .game_card {
    flex-direction: column;
    padding: 1rem;
  }
  .game_card_image_wrapper {
    /* align-self: center; */
    > img {
      width: 300px;
      height: auto;
    }
  }
  .header_description {
    font-size: medium;
  }
}

@media screen and (max-width: 700px) {
  .game_card {
    gap: 1rem;
  }
  .game_card_image_wrapper {
    > img {
      width: 250px;
      height: auto;
    }
  }
  .header_description {
    font-size: small;
  }
}

@media screen and (max-width: 450px) {
  .game_card_image_wrapper {
    align-self: center;
  }
}