.mobile_about {
  display: none;
  width: 100%;
  height: 100%;
}
.desktop_about {
  display: contents;
  width: 100%;
  height: 100%;
}

.about {
  position: relative;
  background: url("https://refactor-games.github.io/cdn/images/about-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 56.25vw; /* 9/16 * 100 = 56.25 for 16:9 aspect ratio*/
  width: 100%;
  overflow: visible;
}

.gradient_drop {
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
  z-index: 1;
  background: linear-gradient(black, transparent);
}

.building_text_positioner {
  position: absolute;
  top: calc(56.25vw * 0.18); /* 18% of the height, keeping 16:9 responsiveness */
  z-index: 5;
}

.building_text {
  letter-spacing: 0.3rem;
  font-size: calc(56.25vw * 0.08); /* because the height is changing on vw, need to use the same height calc */
}

.image_positioner {
  position: absolute;
  bottom: -5.5%;
  left: -5%;
  z-index: 4;
}

.football_character_closeup {
  width: 93%;
  height: auto;
}

.logos_positioner {
  position: absolute;
  right: calc(var(--content-gutter) - 10px);
  bottom: 25%;
  width: 20%;
  z-index: 4;
}

.logos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  > span {
    font-size: var(--large);
  }
}

.a16z_logo {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1500px) {
  .building_text_positioner {
    top: calc(56.25vw * 0.2);
  }
  .building_text {
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 1300px) {
  .about {
    height: 62vw;
  }
  .gradient_drop {
    height: 250px;
  }
  .building_text_positioner {
    top: calc(62vw * 0.25);
  }
  .building_text {
    letter-spacing: 0;
  }
  .image_positioner {
    bottom: -4.5%;
  }
}

@media screen and (max-width: 1024px) {
  .mobile_about {
    display: contents;
  }
  .desktop_about {
    display: none;
  }
  .logos {
    gap: 1rem;
    > span {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 500px) {
  .mobile_about h2 {
    font-size: 18px;
  }
  .about {
    height: 75vw;
  }
  .gradient_drop {
    height: 125px;
  }
  .content_wrapper {
    gap: 0.75rem;
  }
  .building_text_positioner {
    top: calc(75vw * 0.35);
  }
  .image_positioner {
    bottom: -3.5%;
  }
  .logos_positioner {
    bottom: 22%;
  }
  .logos {
    gap: 0.5rem;
    > span {
      font-size: 8px;
    }
  }
}